body {
    background-color: #065134;
    color: rgb(185, 173, 173);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #527666;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}